.meeting {
	padding: 16px;
}

.meeting p {
	margin: 0 0 8px 0;
}

p.small {
	font-size: 14px;
	line-height: 20px;
	color: #6B5844;
	margin-bottom: 16px;
}

.times {
	margin-bottom: 200px;
}

hr {
	border: 0;
	border-top: 1px solid #6B5844;
	margin: 32px 0;
	opacity: 0.3;
}

.time label {
	display: block;
	padding: 14px 16px;
	border-radius: 8px;
	margin-bottom: 12px;
	background: #F0E7DC;
}

.time input {
	display: none;
}

.time input:checked + label {
	font-weight: 500;
	color: #fff;
	background: radial-gradient(215.75% 86.97% at 79.74% 13.03%, rgba(248, 224, 197, 0.2) 0%, rgba(248, 224, 197, 0) 100%), #CA5A40;
	box-shadow: 0px 4px 12px rgba(119, 34, 14, 0.15);
}

.panel {
	background: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 24px;
	position: fixed;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
	padding: 16px;
	width: calc(100vw - 32px);
	max-width: 448px;
}

.panel label {
	font-size: 14px;
	line-height: 20px;
	color: #6B5844;
	display: block;
	margin-bottom: 12px;
}

.panel input {
	display: block;
	width: 100%;
	height: 48px;
}

.panel input[type='email'] {
	border: 1px solid #E5DBCF;
	box-sizing: border-box;
	border-radius: 8px;
	font-size: 20px;
	line-height: 28px;
	padding: 0 16px;
	margin-bottom: 8px;
}

.panel input[type='email']:focus {
	outline: 0;
	box-shadow: inset 0px 1px 2px #b4a798;
	border-color: #b4a798;
}

.panel input[type='submit'] {
	background: radial-gradient(215.75% 86.97% at 79.74% 13.03%, rgba(248, 224, 197, 0.2) 0%, rgba(248, 224, 197, 0) 100%), #CA5A40;
	box-shadow: 0px 4px 12px rgba(119, 34, 14, 0.15);
	border-radius: 8px;
	color: #fff;
	border: 0;
	font-size: 20px;
	line-height: 28px;
	font-weight: bold;
	margin-top: 16px;
}

.panel input[type='submit']:disabled {
	background: #919191;
	box-shadow: none;
}

.panel h3 {
	text-align: left;
	margin: 16px 0 8px 0;
}

.errorLabel {
	font-size: 14px;
	line-height: 20px;
	color: #D25858;
}

.appButton {
	display: block;
	/* max-width: 300px; */
	border-radius: 8px;
	padding: 12px 20px 12px 72px;
	background: #6B5844 url(../../assets/apple.svg) 16px center no-repeat;
	text-decoration: none;
}

.appButton p {
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	color: #FFF8F0;
}

.appButton p strong {
	display: block;
}